{% extends 'polls/base.html' %}

{% block title %}
{# <title>投票页</title> #}

{% endblock %}



{% block container %}

<h2>当前问题为 {{ question.desc }}</h2>
<h3>请投票</h3>
<ul>

    <form action="{% url 'polls:detail' question.id %}" method="post">
        {% for c in question.choice_set.all %}
        {% if forloop.counter == 1 %}
        <li><input checked type="radio" name="choice" value="{{ c.id }}"> {{ c.desc }}</li>
        {% else %}
        <li><input type="radio" name="choice" value="{{ c.id }}"> {{ c.desc }}</li>
        {% endif %}
        {% endfor %}
        <input type="submit" value="投票">
    </form>


</ul>
{% endblock %}
